<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div container="body">
        <div class="jumbotron">
            <div id="title" class="container">
              <h1 class="display-4">The A Team</h1>
            </div>
        </div>

        <div class="container">
            <div class="main-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div id="team-member-1"></div>
                    </div>

                    <div class="col-sm-4">
                        <div id="team-member-2"></div>
                    </div>

                    <div class="col-sm-4">
                        <div id="team-member-3"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div id="team-member-4"></div>
                    </div>

                    <div class="col-sm-4">
                        <div id="team-member-5"></div>
                    </div>

                    <div class="col-sm-4">
                        <div id="team-member-6"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div id="team-member-7"></div>
                    </div>

                    <div class="col-sm-4">
                        <div id="team-member-8"></div>
                    </div>

                    <div class="col-sm-4">
                        <div id="team-member-9"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    
</body>
</html>